<!DOCTYPE html>
<html lang="tr">
<head>
<style>
    body {
        text-align: center;
    }

</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Yardım</title>
</head>
<body><h2>Yardıma ihtiyacınız mı var?</h2>
<h4>1.Ders Seçimini nasıl yaparım?</h4>
<p>Sol tarafta bulunan arayüzden ders seçimine tıklayıp gereken talimatları izleyerek işleminizi gerçekleştirebilirsiniz.</p>
<h4>2.Sınav Sonuçlarımı nasıl öğrenirim?</h4>
<p>Sol taraftan sınav sonuçlarına tıkladığınzda o dönem girdiğiniz tüm sınavlar ve hangi derslere ait olduğuyla beraber gösterilecektir.</p>
<h4>3.Duyurulardan nasıl haberim olacak?</h4>
<p>Duyurular Istanbul Ayvansaray Universitesi'nin ana sitesinde yayımlanmaktadır. Gitmek için <a href="https://www.ayvansaray.edu.tr/tr-TR/duyurular/13022">tıklayınız.</a></p>
<h5><a href="/anasayfa">Geri dönmek için tıklayın</a></h5>
</body>
</html>